@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorisation</title>
</head>
<body>
<div>
    <h3>Authorisation</h3>
    <tr>
        <td><p><a href="/Home/SingIn">Sing in</a></p></td>
        <td><p><a href="/Home/Registration">Registration</a></p></td>
    </tr>
</div>
</body>
</html>