@{
    Layout = null;
}
 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
<div>
    <h3>Registration</h3>
    <form method="post" action="">
        <table>
            <tr><td><p>Login</p></td>
                <td><input type="text" name="Login" /> </td></tr>
            <tr><td><p>Password</p></td><td> 
                <input type="text" name="Address" /> </td></tr>
            <tr><td><input type="submit" value="Enter" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>